<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyApp</a>
    <div>
      <a class="nav-link text-light" routerLink="/products">Product List</a>
      <br />
      <a class="nav-link text-light" routerLink="/categories">Category List</a>
      <br />
      <a class="nav-link text-light" routerLink="/add-category">Add Category</a>
      <br />
      <a class="nav-link text-light" routerLink="/add">Add Product</a>
      <br />
      <a class="nav-link text-light" routerLink="/add">Delete Product</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 1100"
  *ngIf="toastVisible"
>
  <div class="toast show text-bg-success">
    <div class="d-flex">
      <div class="toast-body">
        {{ toastMessage }}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="toastVisible = false"
      ></button>
    </div>
  </div>
</div>

<div
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  *ngIf="confirmVisible"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button
          type="button"
          class="btn-close"
          (click)="confirmVisible = false"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ confirmMessage }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="confirmVisible = false">
          Cancel
        </button>
        <button class="btn btn-danger" (click)="confirm()">Delete</button>
      </div>
    </div>
  </div>
</div>
