<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyApp</a>
    <div>
      <a class="nav-link text-light" routerLink="/products">Product List</a>
      <br />
      <a class="nav-link text-light" routerLink="/categories"
        >Categories List</a
      >
      <br />
      <a class="nav-link text-light" routerLink="/add">Add Product</a>
      <br />
      <a class="nav-link text-light" routerLink="/add">Delete Product</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
