<div class="container mt-4">
  <h3>Add Product</h3>
  <form (ngSubmit)="submitProduct()">
    <div class="mb-3">
      <label>Name</label>
      <input
        class="form-control"
        [(ngModel)]="product.name"
        name="name"
        required
      />
    </div>
    <div class="mb-3">
      <label>Price</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="product.price"
        name="price"
        required
      />
    </div>
    <div class="mb-3">
      <label>Category</label>
      <input
        class="form-control"
        [(ngModel)]="product.category"
        name="category"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
